PyMuPDF
PyPDF2
reportlab
nltk
groq
streamlit
FPDF
requests
pytesseract
pdf2image
camelot-py[cv]
opencv-python
Pillow
opencv-python-headless
streamlit==1.20.0; extra_pip_install_args==--prefix /usr/local
pytesseract

